@model IEnumerable<BlogApp.Models.Blog>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Url)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateCreated)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Url)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateCreated)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.BlogId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.BlogId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.BlogId">Delete</a>
                    </td>
                </tr>
            }
</

    </tbody>
</table>
<div>
    <cs-pager cs-paging-pagenumber="1"
              cs-paging-totalitems="3"
              cs-paging-pagesize="2"
              cs-paging-pagenumber-param="pagenumber"
              cs-paging-pagesize-param="pagesize"
              asp-controller="Blogs"
              asp-action="Index"
              cs-pager-li-current-class="page-item active"
              cs-pager-li-other-class="page-item"
              cs-pager-li-non-active-class="page-item disabled"
              cs-pager-link-current-class="page-link"
              cs-pager-link-other-class="page-link">

    </cs-pager>
</div>

</div>